body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    }
    
    .todoList
    {   
        width: 500px;
        background-color: #e5ecfb;
        padding: 10px 20px;
        border-radius: 10px;
        filter: drop-shadow(-6px 0px 12px #908e8e);
        margin: auto;
        margin-top: 30px;
    }